@import './include-media';

:root {
  --container-width: 1400px;
  --container-padding: 16px;
  @include media('>=medium') {
    --container-padding: 32px;
  }
  @include media('>=large') {
    --container-padding: 64px;
  }
}

* {
  box-sizing: border-box;
}

body {
  background: var(--theme-surface);
  font-family: var(--type-sans-serif);
  margin: 0;
}

a, a:visited {
  color: var(--color-link);
}
a:hover, a:focus {
  color: var(--color-link-hover);
}
a:active {
  color: var(--color-link-active);
}

.text-link {
  color: var(--theme-text-color);
  font-weight: 500;
  text-decoration: none;
  &:hover, &:focus, &:visited {
    color: var(--theme-text-color);
    filter: brightness(85%);
    text-decoration: underline;
  }
  &:active {
    color: var(--theme-text-color);
    filter: brightness(115%);
  }
}

button {
  appearance: none;
  background: transparent;
  border: none;
  cursor: pointer;
}

form button, .button {
  background: var(--theme-overlay-dark);
  border-radius: 4px;
  border: none;
  color: var(--color-white);
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  padding: 7px 16px;
  text-align: center;
  text-decoration: none;

  &:hover, &:focus, &:visited {
    color: var(--color-white);
    filter: brightness(95%);
  }

  &:active {
    color: var(--color-white);
    filter: brightness(105%);
  }

  &--large {
    font-size: 22px;
    line-height: 30px;
    padding: 14px 81px;
  }
  &--orange {
    background: var(--color-orange);
  }
  &--blue {
    background: var(--color-blue-light);
  }
  &--green {
    background: var(--color-success);
  }
  &--clear {
    background: transparent;
    border: thin solid var(--color-orange);
    color: var(--color-orange);
    &:hover, &:focus, &:visited {
      color: var(--color-orange);
    }
  }
}

hr {
  border: none;
  border-top: thin solid var(--theme-overlay-light);
  margin: 1.8rem 0;

  @include media('>=medium') {
    margin: 3.2rem 0;
  }
}
