:root {
  // color-scheme: light dark;
  // Brand colors
  --color-brand: #F88354;
  // Primary colors
  --color-orange: #FFAF1C;
  --color-blue-light: #2FC1FE;
  --color-blue-medium: #002653;
  --color-blue-dark: #001B3B;
  --color-white: #fff;
  // UI
  --color-link: #0179BE;
  --color-link-hover: #0167A2;
  --color-link-active: #0188D5;
  --color-success: #6ACA65;
  --color-warning: #F3D041;
  --color-error: #F55961;
  // Light theme
  --theme-card-color: #fff;
  --theme-text-color: #333333;                 // darker text color
  --theme-overlay-light: #FAFAFA;              // 1 top layer modal/menu
  --theme-overlay-dark: #CCD1D7;               // 2 overlay layer
  --theme-surface: var(--color-white);           // 3 background color
  --theme-base: var(--color-white);              // 4 base layer
  @media (prefers-color-scheme: dark) {
    // Dark theme
    --theme-card-color: #113849;
    --theme-text-color: rgba(255, 255, 255, 85%);   // darker text color
    --theme-overlay-light: #193C4B;       // 1 top layer modal/menu
    --theme-overlay-dark: #0A2F3F;        // 2 overlay layer
    --theme-surface: #042533;             // 3 background color
    --theme-base: #02141C;                // 4 base layer
  }
}
