@import 'include-media';

.grid {
  display: grid;
  grid-gap: 3.2rem;
}

.row {
  &--two {
    grid-template-columns: 100%;
    @include media('>medium') {
      grid-template-columns: 1fr 1fr;
    }
  }
}
