<footer class="container page-footer">
  <span class="page-footer__copyright">
    &copy; 2019 – <script>document.write(new Date().getFullYear());</script>, Portway, LLC
  </span>
  <span class="page-footer__links">
    <a href="/support">Contact us</a> – <a href="/privacy">Privacy policy</a>
  </span>
</footer>
