<header class="masthead">
  <div class="container header">
    <a href="/">
      <h1 hidden>Portway</h1>
      <img class="masthead__logo" src="../img/logo-horizontal.svg" alt="Portway Logo" width="161" height="40" />
    </a>
    <nav class="navigation" role="navigation">
      <button id="menu-btn" class="menu-btn" aria-controls="menu" aria-expanded="false" aria-label="Navigation menu">
        <div class="visually-hidden">Menu</div>
        <svg class="menu-btn__close" height="24" viewBox="0 0 36 36" width="24" xmlns="http://www.w3.org/2000/svg"><path d="m-.11029539.06710056.08318861-.09420734c.36048396-.36048396.92771502-.3882135 1.32000622-.08318861l.09420734.08318861 15.61289322 15.61210678 15.6128932-15.61210678c.360484-.36048396.927715-.3882135 1.3200062-.08318861l.0942074.08318861c.3604839.36048396.3882135.92771502.0831886 1.32000622l-.0831886.09420734-15.6131068 15.61289322 15.6131068 15.6128932c.3604839.360484.3882135.927715.0831886 1.3200062l-.0831886.0942074c-.360484.3604839-.927715.3882135-1.3200062.0831886l-.0942074-.0831886-15.6128932-15.6131068-15.61289322 15.6131068c-.36048396.3604839-.92771502.3882135-1.32000622.0831886l-.09420734-.0831886c-.36048396-.360484-.3882135-.927715-.08318861-1.3200062l.08318861-.0942074 15.61210678-15.6128932-15.61210678-15.61289322c-.36048396-.36048396-.3882135-.92771502-.08318861-1.32000622l.08318861-.09420734z" fill="#333" fill-rule="evenodd" transform="translate(1 1)"/></svg>
        <svg class="menu-btn__open" height="24" viewBox="0 0 36 36" width="24" xmlns="http://www.w3.org/2000/svg"><path d="m18 15c1.657 0 3 1.343 3 3s-1.343 3-3 3-3-1.343-3-3 1.343-3 3-3zm-13 0c1.657 0 3 1.343 3 3s-1.343 3-3 3-3-1.343-3-3 1.343-3 3-3zm26 0c1.657 0 3 1.343 3 3s-1.343 3-3 3-3-1.343-3-3 1.343-3 3-3z" fill="#333" fill-rule="evenodd"/></svg>
      </button>
      <ul id="menu" class="menu">
        <li><a href="/features" class="{{#if (eq active 'features')}}active{{/if}}"><span>Features</span></a></li>
        <li><a href="/pricing" class="{{#if (eq active 'pricing')}}active{{/if}}"><span>Pricing</span></a></li>
        <li><a href="/support" class="{{#if (eq active 'support')}}active{{/if}}"><span>Support</span></a></li>
      </ul>
    </nav>
    <div id="info" class="masthead__info">
      <b><a href="{{ htmlWebpackPlugin.options.constants.LINK_LOGIN }}">Log in</a></b> or <a class="btn" href="{{ htmlWebpackPlugin.options.constants.LINK_SIGNUP }}">Try for free</a>
    </div>
  </div>
</header>
