<figure class="signup-promo">
  <div class="signup-promo__content">
    <figcaption class="signup-promo__title">Try Portway for 30 days, <br />no credit card required.</figcaption>
    <p class="signup-promo__body">Already using Portway? <a href="{{ htmlWebpackPlugin.options.constants.LINK_LOGIN }}">Sign in</a></p>
  </div>
  <form class="signup-promo__form" action="{{ htmlWebpackPlugin.options.constants.LINK_REGISTRATION_FORM }}" method="post">
    <label>
      Your full name
      <input type="text" name="name" placeholder="Jane Doe" required />
    </label>
    <label>
      Your email address
      <input type="email" name="email" placeholder="jane@example.com" required />
    </label>
    <button class="btn" type="submit">Try for free</button>
  </form>
</figure>
