@import 'inc/include-media';

.theme-features {
  background-image: url('../img/features-circles.svg');
  background-position: 45% 585px;
  background-repeat: no-repeat;
}

// Override from shared.scss
.container.features {
  padding-bottom: 8.7rem;
  @include media('>medium') {
    padding-bottom: 7rem;
  }
}

.features {

  // override
  .signup-promo {
    padding :0;
  }

  &__panel {
    min-height: 644px;
    position: relative;
  }

  &__panel-title {
    margin-bottom: 0;
  }

  &__panel-body {
    margin: 0;
  }

  &__panel-image {
    box-shadow: 0 2px 6px 0 rgba(102,102,102,0.40);
    height: auto;
    margin: 4rem auto 0;
    max-width: 100%;
  }

  &__panel-item {
    position: absolute;
    z-index: 1;

    &--document {
      bottom: 100px;
      left: 0;
    }

    &--image {
      right: 0;
      top: 282px;
    }

  }

  &__tabs {
    margin: 7.2rem 0 8.7rem 0;

    @include media('>medium') {
      margin: 7.2rem 0 4.6rem 0;
    }

    [role="tablist"] {
      align-items: center;
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0;
    }

    [role="tablist"] li, [role="tablist"] a {
      display: block;
    }

    [role="tablist"] li {
      margin-right: 1rem;
      @include media('>medium') {
        margin-right: 2.4rem;
      }
      &:last-child {
        margin: 0;
      }
    }

    [role="tablist"] a {
      align-items: center;
      display: flex;
      height: 5.1rem;
      justify-content: center;
      text-decoration: none;
      width: 5.1rem;

      @include media('>medium') {
        height: 7rem;
        width: 7rem;
      }

    }

    [role="tablist"] [aria-selected="true"] {
      path {
        fill: var(--color-gray-80);
      }
    }

    [role="tabpanel"] {
      margin-top: 2.4rem;
      text-align: center;
    }

    *:focus {
      outline: none;
    }

  } // tabs

  &__tab {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    &--content {
      &[aria-selected="true"] {
        background-image: url('../img/features-blob-1.svg');
      }
    }
    &--markdown {
      &[aria-selected="true"] {
        background-image: url('../img/features-blob-2.svg');
      }
      @include media('<medium') {
        // Make sure icons look good at smaller size screens
        svg {
          height: 40px;
          width: 40px;
        }
      }
    }
    &--developers {
      &[aria-selected="true"] {
        background-image: url('../img/features-blob-4.svg');
      }
    }
    &--media {
      &[aria-selected="true"] {
        background-image: url('../img/features-blob-3.svg');
      }
      @include media('<medium') {
        // Make sure icons look good at smaller size screens
        svg {
          height: 35px;
          width: 35px;
        }
      }
    }
    &--outline {
      &[aria-selected="true"] {
        background-image: url('../img/features-blob-2.svg');
      }
    }
    &--dnd {
      &[aria-selected="true"] {
        background-image: url('../img/features-blob-4.svg');
      }
      @include media('<medium') {
        // Make sure icons look good at smaller size screens
        svg {
          height: 28px;
          width: 28px;
        }
      }
    }
  }

} // features

.and-more {
  padding: 0 0 13.6rem;

  &__heading {
    text-align: center;
  }

  &__features {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: auto;
    width: 60%;

    @include media('>medium') {
      flex-direction: row;
      width: 80%;
    }

  }

  &__list {
    list-style: none;
    padding: 1rem 1.5rem;
  }

  &__list-item {
    // display: inline-block;
    font-weight: 500;
    margin-bottom: 1rem;

    &:before {
      content: "•";
      color: var(--color-brand-darker);
      display: inline-block;
      margin-right: 0.7em;
    }

    &--coming-soon {
      &:after {
        background-color: var(--color-purple);
        border-radius: 4px 4px;
        color: rgba(255, 255, 255, .9);
        content: 'Soon!';
        font-size: 1.1rem;
        margin: 0 .6rem;
        padding: 2px 4px;
        text-transform: uppercase;
      }
    }

    &--new {
      &:after {
        background-color: var(--color-green);
        border-radius: 4px 4px;
        color: rgba(255, 255, 255, .9);
        content: 'New!';
        font-size: 1.1rem;
        margin: 0 .6rem;
        padding: 2px 4px;
        text-transform: uppercase;
      }
    }

  }
}

.teams {
  background-color: var(--color-brand);
  padding: 3.5rem 0 2.5rem;
  &__list {
    margin: 4rem 0;
    padding: 0;
    @include media('>medium') {

    }
    li {
      display: block;
      margin: 0;
      width: 100%;
      &:last-child {
        margin: 0;
      }
    }
    img {
      margin: auto;
      width: 75%;
      @include media('>medium') {
        width: auto;
      }
    }
  } // list
  &__list-content {
    margin: auto;
    padding: 1rem 0 1rem 2rem;
    width: 80%;
    @include media('>medium') {
      max-width: 224px;
    }
  }
}

.developers {
  max-width: 83.5rem;
  padding: 5.5rem 0;
  .intro {
    @include media('>medium') {
      margin-bottom: 7.7rem;
    }
  }
  &__list {
    margin: 0;
    padding: 0;
  }
  &__list-item {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5rem auto 5rem auto;

    @include media('>medium') {
      flex-direction: row;
      margin: 0 auto 6.2rem auto;
      max-width: 72.5rem;
      img {
        margin-right: 4rem;
      }
    }

  }
  &__list-item-content {
    width: 80%;
    @include media('>medium') {
      width: 55.0206327%;
    }
  }
}
