@import 'inc/color';
@import 'inc/type';
@import 'inc/base';

@import 'inc/include-media';

.application {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

.container {
  margin: auto;
  max-width: 1400px;
  padding: 0 var(--container-padding);
}

// Header
.masthead {
  background-color: var(--theme-surface);
  padding: 16px 0;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;

  @include media('>medium') {
    padding: 32px 0;
  }

  .container {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  .button {
    font-size: 15px;
    font-weight: 700;
    letter-spacing: -0.2px;
    line-height: 24px;
  }
}

// This is the container that adjusts in size
.masthead__logo {
  display: block;
  flex: none;
  height: 46px;
  overflow: hidden;
  padding: 0;
  position: relative;
  text-indent: -9000px;
  transition: width 0.2s ease-in;
  width: 50px;
  will-change: width;

  // This is just the Bonkey B
  &:before {
    background-image: url('/img/logo-mark.svg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 50px 46px;
    content: '';
    display: block;
    height: 46px;
    width: 50px;
  }

  &:after {
    background-image: url('/img/logo-type.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 126px 29px;
    content: '';
    display: block;
    height: 29px;
    left: 58.35px;
    // padding: 14.55px 14.97px 14.83px 14.57px;
    position: absolute;
    top: 10.62px;
    visibility: hidden;
    width: 126px;
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      background-image: url('/img/logo-type@2x.png');
    }
  }

  &.visible {
    @include media('>=medium') {
      width: 184px;
      &:after {
        visibility: visible;
      }
    }
  }
}

// Footer
.footer {
  background-color: var(--color-blue-dark);
  color: var(--color-white);
  padding: 32px 0;
}

.footer__content {
  display: flex;
  flex-direction: column;
  padding-bottom: 32px;
  width: 100%;
  @include media('>=medium') {
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 64px;
  }
}

.footer__content-left {
  margin-bottom: 64px;
  @include media('>=medium') {
    margin-bottom: 0;
    width: 50%;
  }
  @include media('>large') {
    display: flex;
  }
}
.footer__content-right {
  @include media('>=medium') {
    width: 30.55555556%;
  }
}

.footer__logo {
  background-image: url('/img/logo-white-vertical.svg');
  background-repeat: no-repeat;
  display: block;
  height: 90px;
  margin: 0 auto 32px auto;
  width: 126px;
  @include media('>=medium') {
    background-image: url('/img/logo-white-horizontal.svg');
    flex: 1 0 180px;
    height: 39px;
    justify-content: space-between;
    margin: 0 0 32px 0;
    width: 180px;
  }
}

.footer__links {
  align-items: flex-start;
  display: flex;
  justify-content: center;

  @include media('>=medium') {
    justify-content: flex-start;
  }

  @include media('>large') {
    padding-left: 80px;
  }

  ul, ol {
    list-style: none;
    margin: 0;
    padding: 0 39px 0 0;
    &:last-child {
      padding-right: 0;
    }
    @include media('>=medium') {
      padding: 0 67px 0 0;
    }
  }
  li {
    margin-bottom: 1rem;
    @include media('>=medium') {
      margin-bottom: 1.2rem;
    }
  }
  a:link, a:hover, a:visited, a:active {
    color: var(--color-white);
    font-size: 1.8rem;
    line-height: 2.6rem;
    text-decoration: none;
    @include media('>=medium') {
      font-size: 2.2rem;
      line-height: 3rem;
    }
  }
}

.footer__form-title {
  color: var(--color-blue-light);
  margin-bottom: 10px;
}

.footer__form {
  input[type="email"] {
    background: transparent;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    color: var(--color-white);
    display: block;
    padding: 9px 18px;
    width: 100%;
    &::placeholder {
      color: rgba(255, 255, 255, .8);
    }
  }
  button {
    background: var(--color-blue-light);
    margin-top: 12px;
    width: 100%;
  }
}

.footer__info {
  text-align: center;
  @include media('>=medium') {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

.footer__social {
  color: var(--theme-overlay-dark);
  margin-bottom: 32px;
  text-align: center;
  @include media('>=medium') {
    margin-bottom: 0;
  }
  img {
    display: block;
    margin: 0 auto 12px auto;
    @include media('>=medium') {
      margin: 0 0 0 12px;
    }
  }
  a {
    color: var(--theme-overlay-dark);
    text-decoration: none;
    @include media('>=medium') {
      align-items: center;
      display: flex;
      flex-direction: row-reverse;
    }
  }
}
