@import 'inc/include-media';

.theme-pricing {
  background-image: url('../img/pricing-circles.svg');
  background-position: 0 -500px;
  background-repeat: repeat;
}

.plans {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 5.9rem auto 8.2rem;
  width: 100%;

  @include media('>medium') {
    flex-direction: row;
    max-width: 57.6rem;
  }

}

.plan {
  margin: 0 0 2rem 0;
  text-align: center;

  @include media('>medium') {
    margin: 0 3.2rem 0 0;
    width: 50%;
  }

  &:last-child {
    margin: 0;
  }

  &__title {
    font-family: var(--type-serif);
    font-size: 1.5rem;
    line-height: 2.5rem;
    margin: 2.4rem 0 2.1rem;
  }

  &__cost {
    font-family: var(--type-serif);
    font-size: 5.2rem;
    font-weight: bold;
    letter-spacing: 0.35px;
    line-height: 4rem;
  }

  &__period {
    font-family: var(--type-serif);
    font-size: 2.2rem;
    line-height: 4.4rem;
    letter-spacing: 0.2px;
    margin-bottom: 1.2rem;
  }

  &__notes {
    font-size: 1.3rem;
    letter-spacing: -0.2px;
    line-height: 2rem;
    margin: 1.2rem 0 2.2rem;
  }
}

.feature-list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
}

.feature-list__item {
  align-items: flex-start;
  display: flex;
  margin-bottom: 1rem;
  &:before {
    background-position: 0 50%;
    background-repeat: no-repeat;
    content: '';
    display: block;
    height: 2.4rem;
    margin-right: .5rem;
    width: 1.6rem;
  }
  &--yes {
    &:before {
      background-image: url('../img/icon/CHECK.svg');
    }
  }
}
