@import 'inc/color';
@import 'inc/type';
@import 'inc/base';
@import 'inc/include-media';

.container {
  margin: auto;
  max-width: 1024px;
  width: 86.328125%;
  &.home, &.features, &.pricing {
    max-width: 924px;
    padding: 7rem 0;
  }
  img {
    display: block;
    height: auto;
    max-width: 100%;
  }
}

.intro {
  text-align: center;

  &__title {
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: -0.2px;
    line-height: 4rem;
    margin: 0 0 1.4rem;
  }

  &__subtitle {
    font-family: var(--type-serif);
    font-size: 2rem;
    letter-spacing: -0.2px;
    line-height: 3.1rem;
    margin-bottom: 1.2rem;
  }

}

.card {
  background: #FFFFFF;
  box-shadow: 0 2px 6px 0 rgba(102,102,102,0.40);
  border-radius: 2px;
  color: #333333;
  padding: 2.7rem 1.5rem 3.7rem;
  &__title {
    font-size: 2rem;
    font-weight: normal;
    line-height: 3.1rem;
    letter-spacing: -0.2px;
    margin-bottom: 1.7rem;
    text-align: center;
  }
  a {
    color: #333;
  }
}

.signup-promo {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100%;

  @include media('>medium') {
    flex-direction: row;
    padding-left: 4rem;
    width: 51.6rem;
  }

  &__content {
    @include media('>medium') {
      margin-right: 2rem;
    }
  }
  &__title {
    font-family: var(--type-serif);
    font-size: 2rem;
    font-weight: normal;
    letter-spacing: -0.2px;
    line-height: 3.1rem;
    margin-bottom: 1.2rem;
  }
  &__body {
    font-size: 1.3rem;
    a { color: #333; }
  }
  &__form {
    width: 100%;
    @include media('>medium') {
      width: 45%;
    }
  }
}
