@import 'inc/include-media';

.sponsor {
  align-items: center;
  background-color: rgba(0, 0, 0, .1);
  border-bottom: thin solid rgba(0, 0, 0, .05);
  // color: var(--color-orange);
  display: flex;
  font-weight: 200;
  justify-content: center;
  padding: .6rem 0;

  &__image {
    margin-right: 1.2rem;
  }

  a {
    color: rgba(255, 255, 255, .9);
  }

}

.page-footer {
  color: rgba(255, 255, 255, .7);
  font-size: 1.3rem;
  text-align: center;
  padding: 7rem 0 3rem 0;

  .theme-features &, .theme-pricing & {
    color: #333;
  }

  &__copyright {
    display: block;
    @include media('>medium') {
      display: inline-block;
      margin-right: 1rem;
    }
  }


  a {
    color: inherit;
    &:hover {
      color: rgba(255, 255, 255, .6);
    }
    &:active {
      color: rgba(255, 255, 255, .9);
    }
  }

}

// https://a11yproject.com/posts/how-to-hide-content/
.visually-hidden:not(:focus):not(:active) {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap; /* added line */
}

.pill {
  background: rgba(102,102,102,0.40);
  border-radius: 4px;
  display: inline-block;
  font-size: 1.3rem;
  margin-right: .6rem;
  min-width: 9.9rem;
  padding: 0 .6rem;
  text-align: center;

  &--green {
    background: var(--color-green);
  }

  &--green-light {
    background: var(--color-green-light);
    color: #333;
  }

  &--orange {
    background: var(--color-orange);
  }

  &--black {
    background: rgba(0, 0, 0, .05);
  }

}

.intro {
  text-align: center;
  &__title {
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: -0.2px;
    line-height: 4rem;
    margin: 0 0 1.4rem;
  }
  &__subtitle {
    font-family: var(--type-serif);
    font-size: 2rem;
    letter-spacing: -0.2px;
    line-height: 3.1rem;
    margin-bottom: 1.2rem;
  }
}

.card {
  background: #FFFFFF;
  box-shadow: 0 2px 6px 0 rgba(102,102,102,0.40);
  border-radius: 2px;
  color: #333333;
  padding: 2.7rem 1.5rem 3.7rem;
  &__title {
    font-size: 2rem;
    font-weight: normal;
    line-height: 3.1rem;
    letter-spacing: -0.2px;
    margin-bottom: 1.7rem;
    text-align: center;
  }
  a, p, div, li {
    color: #333;
  }
}

a.card {
  display: block;
  text-decoration: none;
}

.signup-promo {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 75%;

  @include media('>medium') {
    flex-direction: row;
    padding-left: 4rem;
    width: 51.6rem;
  }

  &__content {
    margin: 0 0 2rem 0;
    @include media('>medium') {
      margin: 0 2rem 0 0;
    }
  }
  &__title {
    font-family: var(--type-serif);
    font-size: 2rem;
    font-weight: normal;
    letter-spacing: -0.2px;
    line-height: 3.1rem;
    margin-bottom: 1.2rem;
  }
  &__body {
    font-size: 1.3rem;
    a { color: #333; }
  }
  &__form {
    width: 100%;
    @include media('>medium') {
      width: 45%;
    }
  }
}
