{{> partials/head }}
<body class="theme-default">
  {{> partials/navigation }}
  <div class="visually-hidden">
    <h1>Home</h1>
  </div>
  <div class="container home">
    <div class="intro">
      <h2 class="intro__title">A notes app for people who need to do more</h2>
      <p>
        We created Portway for those who love the simplicity and flexibility of Markdown, <br />
        and need a way to do stuff with it.
      </p>
      <img class="home__hero" src="img/home-hero.png" srcset="img/home-hero.png, img/home-hero@2x.png 2x" alt="" width="924" height="560" />
      <p>
        Whether it’s for personal use or for work, we were unsatisfied with existing products when it
        came to picking a way to store documents. Traditional content management systems? Too complex.
        Headless CMS’s? Too technical.  We created Portway for those who love the simplicity and
        flexibility of Markdown, and need a way to do stuff with it.
      </p>
    </div>
    {{!-- /Intro --}}
    <div class="home__footer">
      <ul class="home__features">
        <li>
          <div class="home__feature-image">
            <img src="img/illo_simple-notes.png" srcset="img/illo_simple-notes.png, img/illo_simple-notes@2x.png 2x" alt="Simple notes" width="123" height="118" />
          </div>
          Want a simple notes app?
        </li>
        <li>
          <div class="home__feature-image">
            <img src="img/illo_team.png" srcset="img/illo_team.png, img/illo_team@2x.png 2x" alt="Collaborate" width="138" height="132" />
          </div>
          Want to collaborate with your team on complex documents with multiple fields, images, audio, and video?
        </li>
        <li>
          <div class="home__feature-image">
            <img src="img/illo_query.png" srcset="img/illo_query.png, img/illo_query@2x.png 2x" alt="Collaborate" width="138" height="152" />
          </div>
          Want to query your structured content for use on your website, application?
        </li>
      </ul>
      {{!-- /Features --}}
      <div class="home__signup card">
        <h2 class="card__title">Try Portway for 30 days, no credit card required. We think you’ll like it.</h2>
        <form action="{{ htmlWebpackPlugin.options.constants.LINK_REGISTRATION_FORM }}" method="post">
          <label>
            Your full name
            <input type="text" name="name" placeholder="Enter your full name" required />
          </label>
          <label>
            Your email address
            <input type="email" name="email" placeholder="Enter your email" required />
          </label>
          <button class="btn" type="submit">Try for free</button>
          <div class="centered">
            Already using Portway? <a href="{{ htmlWebpackPlugin.options.constants.LINK_LOGIN }}">Sign in</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
</html>
