{{> partials/head }}
<body class="theme-pricing">
  {{> partials/navigation active="pricing" }}
  <div class="visually-hidden">
    <h1>Pricing</h1>
  </div>
  <div class="container pricing">
    <section class="intro">
      <h2 class="intro__title">The right price for just you, or your whole team.</h2>
      <p class="intro__subtitle">30-day free trial – hassle free</p>
      <p>
        Give Portway a try with no obligations. Your data is yours, and we don’t sell your information
        to anyone. Do nothing and your trial will expire with no further action. Like what you see?
        Enter your payment info and pick a plan to support independent software.
      </p>
    </section>
    {{!-- /intro --}}
    <section class="plans">
      <div class="plan card">
        <h3 class="plan__title">Solo plan</h3>
        <div>
          <span class="plan__cost">$10</span>
          <span class="plan__period">/mo.</span>
        </div>
        <p class="plan__notes">&nbsp;</p>
        <ul class="feature-list">
          <li class="feature-list__item feature-list__item--yes">Unlimited projects</li>
          <li class="feature-list__item feature-list__item--yes">Unlimited documents</li>
          <li class="feature-list__item feature-list__item--yes">10GB Storage</li>
          <li class="feature-list__item feature-list__item--yes">Private &amp; Secure</li>
        </ul>
      </div>
      {{!-- /plan --}}
      <div class="plan card">
        <h3 class="plan__title">Team plan</h3>
        <div>
          <span class="plan__cost">$50</span>
          <span class="plan__period">/mo.</span>
        </div>
        <p class="plan__notes">5 users included, $10/user after</p>
        <ul class="feature-list">
          <li class="feature-list__item feature-list__item--yes">Unlimited projects</li>
          <li class="feature-list__item feature-list__item--yes">Unlimited documents</li>
          <li class="feature-list__item feature-list__item--yes">10GB Storage</li>
          <li class="feature-list__item feature-list__item--yes">Private &amp; Secure</li>
          <li class="feature-list__item feature-list__item--yes">Multiple teams and users (5 included)</li>
          <li class="feature-list__item feature-list__item--yes">Real-time document collaboration</li>
          <li class="feature-list__item feature-list__item--yes">Audit log</li>
        </ul>
      </div>
      {{!-- /plan --}}
    </section>
    {{!-- /plans --}}
    {{> partials/sign-up }}
  </div>
  {{!-- /container --}}
  {{> partials/footer }}
</body>
</html>
