{{> partials/head }}
<body class="theme-support">
  {{> partials/navigation }}
  <div class="visually-hidden">
    <h1>Privacy policy</h1>
  </div>
  <div class="container support">
    <section class="intro">
      <h2 class="intro__title">We are dedicated to your privacy</h2>
      <p class="intro__subtitle">We’ve made this as easy as possible</p>
    </section>
    {{!-- /intro --}}
    <section class="privacy">

      <div class="privacy__section">
        <h3>Personal information:</h3>
        <p>
          We do not collect personal information (PII). We do store the name and email address you provide.
        </p>
      </div>

      <div class="privacy__section">
        <h3>Marketing &amp; advertising:</h4>
        <p>
          We do not sell your information to anyone. We don't provide your information to anyone.
          Portway is not an ad company.
        </p>
      </div>

      <div class="privacy__section">
        <h3>Third-parties:</h3>
        <p>
          We use the following vendors for support services. These vendors will receive your email
          address and name:
        </p>

        <ul>
          <li><span class="pill pill--green-light">Name and email</span>Zendesk</li>
        </ul>

        <p>We use the following services for hosting data:</p>

        <ul>
          <li><span class="pill pill--green-light">Name and email</span> Rapid7</li>
          <li><span class="pill pill--green">No access</span> Amazon AWS </li>
          <li><span class="pill pill--green">No access</span> DigitalOcean</li>
        </ul>
      </div>

    </section>
  </div>
  {{> partials/footer }}
</body>
</html>
