{{!-- @todo remove me when we go live --}}
{{> partials/head }}
<body class="theme-default">
  <div class="splash">
    <img src="/img/logo-horizontal.svg" alt="Portway logo" />
  </div>
</body>
</html>
