{{> partials/head }}
<body class="theme-support">
  {{> partials/navigation active="support" }}
  <div class="visually-hidden">
    <h1>Support</h1>
  </div>
  <div class="container support">
    <section class="intro">
      <h2 class="intro__title">How can we help you?</h2>
      <p class="intro__subtitle">Guides, API documentation, and more coming soon...</p>
    </section>
    {{!-- /intro --}}
    <section class="support__cards grid row row--two">
      <a class="card" href="https://guides.portway.app/">
        <h2>Guides</h2>
        <div class="card-content">
          <p>Create an enterprise data visualization tool</p>
          <svg height="16" viewBox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg"><path d="m6.75986872-.05708393.03697271-.04186993c.16021509-.16021509.41231779-.17253933.58666943-.03697271l.04186993.03697271 6.89562291 6.8956229.0407863.04685274.0330617.05062963.020309.04122476.0205392.05900254.0065394.02743187.0081689.06284261v.05253401l-.0040791.03963327-.0072029.03732838-.0145878.04869336-.0152026.03664412-.0238869.04425239-.0187429.02792865-.013167.01724868-.0325353.03629235-6.89562291 6.8956229c-.17356635.1735663-.45497301.1735663-.62853936 0-.16021509-.1602151-.17253933-.4123178-.03697271-.5866694l.03697271-.04187 6.13649187-6.13718079-12.71784508.00027205c-.22792704 0-.41578097-.17157341-.44145435-.39261283l-.0029901-.05183161c0-.22792704.17157342-.41578096.39261283-.44145434l.05183162-.0029901 12.71784508-.00027206-6.13649187-6.13663671c-.16021509-.1602151-.17253933-.41231779-.03697271-.58666944l.03697271-.04186993z" transform="translate(.889 .889)"/></svg>
        </div>

      </a>
      <a class="card" href="https://api.portway.app/">
        <h2>API</h2>
        <div class="card-content">
          <p>Create an enterprise data visualization tool</p>
          <svg height="16" viewBox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg"><path d="m6.75986872-.05708393.03697271-.04186993c.16021509-.16021509.41231779-.17253933.58666943-.03697271l.04186993.03697271 6.89562291 6.8956229.0407863.04685274.0330617.05062963.020309.04122476.0205392.05900254.0065394.02743187.0081689.06284261v.05253401l-.0040791.03963327-.0072029.03732838-.0145878.04869336-.0152026.03664412-.0238869.04425239-.0187429.02792865-.013167.01724868-.0325353.03629235-6.89562291 6.8956229c-.17356635.1735663-.45497301.1735663-.62853936 0-.16021509-.1602151-.17253933-.4123178-.03697271-.5866694l.03697271-.04187 6.13649187-6.13718079-12.71784508.00027205c-.22792704 0-.41578097-.17157341-.44145435-.39261283l-.0029901-.05183161c0-.22792704.17157342-.41578096.39261283-.44145434l.05183162-.0029901 12.71784508-.00027206-6.13649187-6.13663671c-.16021509-.1602151-.17253933-.41231779-.03697271-.58666944l.03697271-.04186993z" transform="translate(.889 .889)"/></svg>
        </div>
      </a>
    </section>
    {{!-- /cards --}}
    <section class="support__content grid row row--two">
      <div>
        <h2>Contact us</h2>
        <p>
          Have a feature request or having a problem? Let us know, and we will try our hardest to
          get back to you within a day. Don’t worry, we don’t do anything creepy with your information.
          If you’d like to know more about that, read our <a href="/privacy">privacy policy</a>.
        </p>
        <p>
          We’d love to hear from you.
        </p>
      </div>
      <form class="support__form" action="{{ htmlWebpackPlugin.options.constants.FORM_SUBMISSION_ACTION_URL }}" method="POST">
        <label>
          Name
          <input type="text" placeholder="Your name" name="name" />
        </label>
        <label>
          Email
          <input type="email" placeholder="example@domain.com" name="email" required />
        </label>
        <label>
          Company
          <input type="text" placeholder="Acme, Inc" name="company" />
        </label>
        <label>
          Subject
          <input type="text" placeholder="Question on pricing" name="subject" />
        </label>
        <div class="support__form-radio-buttons">
          <span class="label">What can we help you with?</span>
          <div class="grid row row--two">
            <label class="label label--inline">
              <input type="radio" name="request-type" value="feature-request" checked="checked" /> Feature request
            </label>
            <label class="label label--inline">
              <input type="radio" name="request-type" value="pricing" /> Pricing
            </label>
            <label class="label label--inline">
              <input type="radio" name="request-type" value="bug" /> Bug
            </label>
            <label class="label label--inline">
              <input type="radio" name="request-type" value="account" /> Account / billing
            </label>
            <label class="label label--inline">
              <input type="radio" name="request-type" value="question" /> Question
            </label>
            <label class="label label--inline">
              <input type="radio" name="request-type" value="other" /> Other
            </label>
          </div>
        </div>
        <label>
          Message
          <textarea name="message" placeholder="Your message..."></textarea>
        </label>
        <button class="btn">Send</button>
      </form>
    </section>
  </div>
  {{!-- /container --}}
  {{> partials/footer }}
</body>
</html>
